.verif-email-main-wrap {
    align-items: center;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
}

.verif-email-sub-wrap {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.verif-email-sub-wrap > h3 {
    color: gray;
    margin-top: 24px;
    text-transform: uppercase;

    animation: fadeIn linear 1.5s;
    animation-iteration-count: infinite;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}