.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.calender-hover:hover {
  background-color: rgb(228, 228, 228);
  border-radius: 100px;
  transition: all 0.3s;
}

.calender-hover:active {
  background-color: rgb(196, 193, 193);
  transition: all 0.3s;
}

.calender-current-date {
  background-color: dodgerblue;
  border-radius: 100px;
}

.calender-current-date:hover {
  background-color: rgb(2, 118, 235);
}

.tes {
  height: 25px !important;
  width: 25px !important;
}

.calender-pick-date {
  background-color: lightskyblue;
  border-radius: 100px;
  transition: all 0.3s;
}

.calender-pick-date:hover {
  background-color: rgb(97, 184, 238);
  transition: all 0.3s;
}

.calender-create {
  background-color: transparent;
  border: none;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: all 0.3s;
}

.calender-create:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.time-input {
  border: none;
}

.time-input:enabled {
  outline: none;
  border-bottom: 1px solid black;
}

.modal-title {
  border: none;
  border-bottom: 1px solid black;
}

.modal-title:enabled {
  outline: none;
}

.upload-file {
  padding: 5px 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 40px;
  font-size: 0.8em;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
}

.upload-file:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
